<link rel="stylesheet" href="./bootstrap.css">
<script src="./jquery.min.js"></script>
<script src="./bootstrap-modal.js"></script>
<script src="./bootstrap-transition.js"></script>

<h1>○○Lab</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th>Memo</th>
			</tr>
		</thead>

		<tbody>
			<% for var in @stats do %>
			<tr>
				<td><%= link_to var[:member] , registrations_index_path(var) %>
				</td>
				<td><%= var[:location] %></td>
				<td>
					<% if !var[:message].nil? %>
				<button type="button" class="btn btn-default"  data-toggle="popover" title="message" data-content= <%= var[:message] %>  >
					<% end%>
					<!--%= image_tag "/assets/icon.png", :size => '10x10' %-->
          <i class="fa fa-comment-o"></i>
				</button>
				<script>
					$(function() {
						$('[data-toggle="popover"]').popover();
					});
				</script> <% end %>
		</tbody>
	</table>
