<link rel="stylesheet" href="./bootstrap.css">
<script src="./jquery.min.js"></script>
<script src="./bootstrap-modal.js"></script>
<script src="./bootstrap-transition.js"></script>;
<%= stylesheet_link_tag    "index", :media => "all" %>
<h1>今、どこにいる？</h1>

<!--<p>Find me in app/views/registrations/index.html.erb</p>-->
<p>
	<% i = 0%>
	<% colors = ["#cc3333", "#ff9933", "#669900", "#3366cc", 'blue', 'red', 'green', 'blue']%>
	<div class="button">
	<% @locations.each do |location| %>
		<% if location.category == 0 and i < 4 then %>
			<input type = "button" value = <%=location.name %>  class="btn" style = "width: 200px;height: 150px; font-size:1.8em; background: <%= colors[i]%>; color:white;">
			<%i = i + 1%>
		<% end %>
	<% end %>
	</div>
		
	<!--<% @locations.each do |location| %>
	<input type = "button" value = <%=location.name %>  style = "width: 100px;height: 50px;background: red">
	<% end %>-->
</p>
