<head>
	<link rel="stylesheet" href="./bootstrap.css">
	<script src = "./jquery.min.js"></script>
	<script src="./bootstrap-dropdown.js"></script>
</head>
<h1>学内の場合：</h1>

<ul class="dropdown">
	<li><a class="dropdown-toggle" data-toggle="dropdown"href="#">
		教室：<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#">まままま</a></li>
			<li><a href="#">みみみみ</a></li>
			<li><a href="#">むむむむ</a></li>
		</ul>
	</li>
</ul>
