// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{text-align: center;}
.button{text-align: center;
    margin: auto;
    top: 0;
    bottom: 0;
}
